<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qrl.spring.boot.mybatis.plus.modules.patient.mapper.DtrdEntRdPatientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="qrl.spring.boot.mybatis.plus.modules.patient.entity.po.DtrdEntRdPatient">
        <id column="data_id" property="dataId" />
        <result column="doctor_id" property="doctorId" />
        <result column="store_id" property="storeId" />
        <result column="patients_mobile" property="patientsMobile" />
        <result column="patients_uuid" property="patientsUuid" />
        <result column="patients_password" property="patientsPassword" />
        <result column="patients_name" property="patientsName" />
        <result column="patients_nikename" property="patientsNikename" />
        <result column="patients_age" property="patientsAge" />
        <result column="patients_birthday" property="patientsBirthday" />
        <result column="patients_sex" property="patientsSex" />
        <result column="patients_id_card" property="patientsIdCard" />
        <result column="patients_height" property="patientsHeight" />
        <result column="patients_weight" property="patientsWeight" />
        <result column="patients_img" property="patientsImg" />
        <result column="patients_isdoctor" property="patientsIsdoctor" />
        <result column="patients_location" property="patientsLocation" />
        <result column="channel_id" property="channelId" />
        <result column="patients_province_id" property="patientsProvinceId" />
        <result column="patients_province_name" property="patientsProvinceName" />
        <result column="patients_city_id" property="patientsCityId" />
        <result column="patients_city_name" property="patientsCityName" />
        <result column="patients_status" property="patientsStatus" />
        <result column="patients_type" property="patientsType" />
        <result column="patients_device_tokens" property="patientsDeviceTokens" />
        <result column="patients_wx_nickname" property="patientsWxNickname" />
        <result column="patients_wx_openId" property="patientsWxOpenid" />
        <result column="patients_netease_id" property="patientsNeteaseId" />
        <result column="patients_netease_token" property="patientsNeteaseToken" />
        <result column="patients_mi_access_token" property="patientsMiAccessToken" />
        <result column="patients_mi_refresh_token" property="patientsMiRefreshToken" />
        <result column="patients_mi_mac_key" property="patientsMiMacKey" />
        <result column="patients_qq_nickname" property="patientsQqNickname" />
        <result column="patients_qq_open_id" property="patientsQqOpenId" />
        <result column="patients_quick_id" property="patientsQuickId" />
        <result column="patients_quick_type" property="patientsQuickType" />
        <result column="patients_uplowset_switch" property="patientsUplowsetSwitch" />
        <result column="patients_initial" property="patientsInitial" />
        <result column="patients_client_type" property="patientsClientType" />
        <result column="patients_active_date" property="patientsActiveDate" />
        <result column="patients_xty_imei" property="patientsXtyImei" />
        <result column="patients_qywx_external_userid" property="patientsQywxExternalUserid" />
        <result column="patients_qywx_userid" property="patientsQywxUserid" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        data_id, doctor_id, store_id, patients_mobile, patients_uuid, patients_password, patients_name, patients_nikename, patients_age, patients_birthday, patients_sex, patients_id_card, patients_height, patients_weight, patients_img, patients_isdoctor, patients_location, channel_id, patients_province_id, patients_province_name, patients_city_id, patients_city_name, patients_status, patients_type, patients_device_tokens, patients_wx_nickname, patients_wx_openId, patients_netease_id, patients_netease_token, patients_mi_access_token, patients_mi_refresh_token, patients_mi_mac_key, patients_qq_nickname, patients_qq_open_id, patients_quick_id, patients_quick_type, patients_uplowset_switch, patients_initial, patients_client_type, patients_active_date, patients_xty_imei, patients_qywx_external_userid, patients_qywx_userid, create_time, update_time, is_del
    </sql>

</mapper>
