<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qrl.spring.boot.mybatis.plus.mapper.BlogCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="qrl.spring.boot.mybatis.plus.entity.po.BlogComment">
        <id column="id" property="id" />
        <result column="blog_id" property="blogId" />
        <result column="user_id" property="userId" />
        <result column="header" property="header" />
        <result column="nickname" property="nickname" />
        <result column="content" property="content" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, blog_id, user_id, header, nickname, content, created_time
    </sql>

</mapper>
